Flask==2.0.1
flask-cors==3.0.10
torch==1.10.0
transformers==4.12.5
pydub==0.25.1
yt-dlp==2023.3.4
youtube-dl==2021.12.17
numpy==1.21.4
scipy==1.7.3
torchaudio==0.10.0
librosa==0.8.1
soundfile==0.10.3.post1
huggingface-hub==0.10.1
requests==2.26.0